<%- include("partials/header.ejs") %>


  <img>
  <h2>MISSION STATEMENT</h2>

  <button onclick="bibMap()">Click on service town/city to the number of qualified donators in your area!</button>

  <a href="https">Link to Site Pediatrician</a>

  <script src="app.js"></script>

  <%- include("partials/footer.ejs") %>

</body>

</html>