<%- include("partials/header.ejs") %>

<title>Clients</title>
</head>

<body>





     <%=  <form method="POST" action="/clients"> %>
     <label for="firstN">First Name:
          <input type="text" name="firstName"><br>
     </label>
     <label for="lastN">Last Name:
          <input type="text" name="lastName"><br>
     </label>
     <label for="birthDate">D.O.B:
          <input type="date" name="dob"><br>
     </label>
     <address for="clientAddress">Address</address>
     <input type="text" name="clientAddress"><br>
     </label>
     <label for="City">City:
          <input type="text" name="city"><br>
     </label>
     <label for="State">State:
          <input type="text" name="state"><br>
     </label>
     <label for="Zip">Zip Code:
          <input type="number" name="Zip"><br>
</label>
<label for="Telephone">Telephone 
     <input type="number" name="telephone"><br>
</label>
<label for="email">Email: 
     <input type="email" name="email"><br>
</label>
<label for="textarea"> 
     <input type="text" name="question">What are the circumstances that lead you to BIB of Greater Boston?</textarea><br>
</label>
<button type="submit">Save</button> 
     </form> %>

     <script src="app.js"></script>
</body>