<%- include("partials/header.ejs") %>

<title>Clients</title>
</head>
<body>
       <h2> A mother’s own breast milk is nearly always baby’s best first food; however, it is sometimes not available. In such cases, according to the American Academy of Pediatrics, the US Surgeon General, the World Health Organization, and others, safely pasteurized donor human milk is the next best option.

      <p> Reasons to Receive</h2>
        Donor milk can be used as a temporary bridge until mother’s own milk comes in, or longer term as needed.
        
        A baby might need donor milk for many reasons, including:
        
       <li> low milk supply</li>
        <li>preterm birth</li>
       <li>failure to thrive</li>
        <li>weight loss</li>
        <li>malabsorption syndromes</li>
        <li>feeding/formula intolerance</li>
        <li>immunologic deficiencies</li>
        <li>pre- or post-operative nutrition</li>
        <li>low blood sugar</li>
        <li>high bilirubin levels</li>
        <li>baby’s inability to latch</li>
       <li>cleft/lip palate</li>
        <li>tongue/lip tie</li>
       <li>maternal health complications</li>
       <li>“bridge” milk to supplement baby until mother can feed</li>
       <li> adoption</li></p>

       <h2>Becoming a member</h2>
    
    <script src="app.js"></script>
</body>
