<%- include("./partials/header.ejs") %>
<%- include("partials/navBar.ejs") %>

<h1>Breast Is Best Reviews</h1>
<p>
    I have always want to help in anyway that I can, when babies are involved. Babies are helpless until they are given the essential tools to be self-sufficient. One very important way to start is what a parent puts into their infants body for nourishment. Some women can't produce enough milk to feed their babies. BIB makes the process of donating, and getting milk to these families, so discreet and easy. I have been a proud donator to the same mom for 2 years! -Mary K. Brown
</p>


    </div>
    
    <div class="clients">
<p>
"I was at my wit's end!! I felt like a failure when I found out due to my health, and with  all the meds I was taking, I would not be able to breastfeed my first child. My mom told me about breast milk donation. I did a search and found BIB! All I had to do was 


“Amy and Breast Is Best Of Greater Boston, have been so helpful. I could not have come this far without them. Rhys’s good health progress is attributed to pasteurized human breast milk. My anxiety has subsided since I know that Rhys is getting the best possible source of nutrition. Thank you to all the mothers who donate human breast milk. You are truly making a difference, one tummy at a time!” -Rebecca T. Lane
</p>

    </div>

    <div>
        <p>
            "In our community, we have never had a place where mother's can donate breast milk...The thousands of donations that BIB recieves and delivers, shows how far we have come in the advancement of development of the babies today.-  "
        </p>
    </div>



<%- include("./partials/footer.ejs") %>