<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    <title>Donators</title>
</head>

<body>
    <h1> Donate Breast Milk</h1>

    <h1>Donators</h1>
    
    <p>This is were you would enter your info to be screened to be a potential Donator. </p>



    <h2>Four easy steps to donate breast milk:
        <p>1.Complete a 15-minute phone screening.
            2.Fill out forms.
            3.Get a blood test (we pay for it).
            4.Make arrangements with us for delivery of your breast milk (at no cost to you).
            Our screening usually takes 2 – 3 weeks to complete. (We can do the screening in English, Spanish,
            Portuguese or Creole).</h2>
    </p>

    <p>You are probably eligible to donate if:
        <li>You are in good health.</li>
        <li>You have breast milk that is truly extra, or cannot be used by your baby (bereaved and surrogate mothers are
            welcome to become breast milk donors).</li>
        <li>Your breast milk was put in the freezer within 48 hours of being pumped.</li>
        <li>You are only using medications on our “approved for use in donors” list (call if you have questions!).</li>
        <li>You are able to donate a minimum of 150 ounces (there is no minimum for bereaved donors).</li>
        <li>You are not using any herbal supplements (call if you have specific questions).</li>
        <li>You are not eligible to donate breast milk if:
        <li>You have or are being treated for HIV, HTLV, hepatitis B or C, or syphilis.</li>
        <li>You or your sexual partner is at risk for HIV, HTLV, hepatitis B or C, or syphilis.</li>
        <li>You have used recreational drugs in the past year, including marijuana.</li>
        <li>You smoke or use tobacco products.</li>
        <li>You drink alcohol daily.</li>
        <li>You spent 3 months or more in the United Kingdom between 1980 and 1996 OR
        <li>You spent 5 years or more in Europe and/or the United Kingdom between 1980 and the present.</li>
    </p>
    *We accept breast milk stored in your freezer up to at least 7 months, including milk previously pumped.</p>

    Ready to start? Give us a call at 617.527.6263 ext. 3 or email us!
    Please include in email:

    Your name and phone number
    Whether you already have breast milk stored for donation
    Any questions you have
    When we speak by phone, please be prepared to tell us any medications or herbal supplements you are taking (or were
    taking while pumping).

    <a href="https">Cleaning Practices</a>
    

    <div>


        <div class="card">
            <div class="card-header">
                Name:
            </div>
            <div class="card-body">
                http requests have a url, method, header, and body
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                D.O.B.
            </div>
            <div class="card-body">
                http is a protocol
            </div>
        </div>
        <div class="card-body">
            Address:
        </div>
        <div class="card-body">
            City:
        </div>
        <div class="card-body">
            State:
        </div>
        <div class="card-body">
            Zip Code:
        </div>
        <div class="card-body">
            Telephone:
        </div>
        <div class="card-body">
            Why do you want to donate your breastmilk?
        </div>

        <div class="card-body">
            link that you click on to fill out health questionaire
        </div>
        <footer>
            //add footer
        </footer>
    </div>
    </body>


</html>