<%- include("./partials/header.ejs") %>
<%- include("partials/navBar.ejs") %>

  <div class="centerText">
      <h1>Breast Is Best</h1>
      <img src="/img/test.png" alt="Mother" class="center"> 

    <h2> BIB Mission Statement </h2>
    Breast Is Best of Greater Boston is a non-profit donor milk bank established in 2019.<br>

    Our mission is based on the belief that every baby deserves access to human milk. <br>

    We carry out this mission through the safe collection and distribution of

    human donor milk, education, advocacy, and research.


    <h2>Our mission: </h2>
    Bank improves the health and survival of
    the BIB Greater Boston’s most vulnerable babies.

    <h2>Our vision: </h2>
    A Greater Boston region where every baby has access to the human milk they need.

  </div>

  <%- include("./partials/footer.ejs") %>