<%- include("partials/header.ejs") %>
<img src="download.jpg" alt="Mother" class="center">
<img>

  <h2>MISSION STATEMENT</h2>
 
  

  <a href="https">Link to Site Pediatrician</a>



  <%- include("partials/footer.ejs") %>
  <script src="app.js"></script>
</body>

</html>